@model IList<NAA.Data.Applicant>

<table class="table">
    <tr>
        <th>
            Applicant Name
        </th>
        <th>
            Address
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            UserID
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                <a href="@Url.Action("EditApplicant", "ApplicantAdmin", new {id = item.ApplicantId})">Edit</a> 
                |
                <a href="@Url.Action("EditApplicant","ApplicantAdmin", new { id = item.ApplicantId })">Detail</a>
            </td>
        </tr>
    }

</table>